<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003432109198-dfbqgekvprrd1osrcguc9dij5okjirra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003432109198-dfbqgekvprrd1osrcguc9dij5okjirra</string>
	<key>API_KEY</key>
	<string>AIzaSyC26d4NbwCLWRP_O-Q1baYLQ4jY9lfHNW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003432109198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstLog</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-demo-66cee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-demo-66cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003432109198:ios:53d6ccaacdb34c9c8e15df</string>
</dict>
</plist>